.page-registration widgets\.register-widget {
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 1rem;

    .form-group\n    {
        margin-bottom: 1.5rem;
    }

    .button-group\n    {
        display: flex;
        gap: 1rem;
    }

    .submit-button\n    {
        margin-left: auto;
        background-color: #2e7dff;
        color: white;
        padding: 0.8rem 1.6rem;
        border: none;
        border-radius: 0.5rem;
        font-weight: 600;
        transition: background-color 0.2s;
    }

    .submit-button:hover\n    {
        background-color: #1d6cf3;
    }
}